:root {
  --moodSaddestColor:  #7E57C2;
  --moodSadColor:      #5c6bc0;
  --moodNeutralColor:  #00BCD4;
  --moodHappyColor:    #9CCC65;
  --moodHappiestColor: #4CAF50;
}

.light-theme {
  --bgColor:           #EEEEEE;
  --bgColorLight:      #FFFFFF;
  --bgColorDark:       #DEDEDE;
  --fontColor:         #000000B0;
  --moodNotSetColor:   var(--bgColorDark);
}

.dark-theme {
  --bgColor:           #333333;
  --bgColorLight:      #474747;
  --bgColorDark:       #2d2d2d;
  --fontColor:         #FFFFFFB0;
  --moodNotSetColor:   var(--bgColorDark);
}

body {
  background: var(--bgColor);
  padding: 1rem 0rem;
  color: var(--fontColor);
}

a {
  color: #d95e87;
}

a:hover {
  color: #c35479;
}

.btn.btn-primary {
  color: #c35479;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
  color: #c35479;
}


p {
  margin-bottom: .5rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-image {
  margin-bottom: 1rem
}

.card {
  border-radius: .5rem;
    background: var(--bgColorLight);
}

#jsonUploaderContainer {
    padding: 40px 0;
}


#pixelsTableContainer {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.cell {
  padding: .4rem !important;
  border: 1px solid var(--bgColor) !important;
  font-size: 12px !important;
  cursor: pointer;
}
@media (min-width: 768px) {
  .cell {
    padding: .2rem !important;
    font-size: 12px !important;
  }
}
@media (min-width: 992px) {
  .cell {
    padding: .4rem !important;
    font-size: 13px !important;
  }
}
@media (min-width: 1200px) {
  .cell {
    font-size: 15px !important;
  }
}

.pixelsTableHeaderRow {
  display: none;
}
@media (min-width: 768px) {
  .pixelsTableHeaderRow {
    display: contents;
  }
}

@media (max-width: 768px) {
  .pixelsTableMonthCell {
    padding: 0 !important;
  }
}

.log {
  padding: 20px 10px;
  border-bottom: 1px solid var(--bgColorDark);
}

.cell.mood0 { background: var(--moodNotSetColor); }
.cell.mood1 { background: var(--moodSaddestColor); }
.cell.mood2 { background: var(--moodSadColor); }
.cell.mood3 { background: var(--moodNeutralColor); }
.cell.mood4 { background: var(--moodHappyColor); }
.cell.mood5 { background: var(--moodHappiestColor); }

.log .mood1 img { background: var(--moodSaddestColor); }
.log .mood2 img { background: var(--moodSadColor); }
.log .mood3 img { background: var(--moodNeutralColor); }
.log .mood4 img { background: var(--moodHappyColor); }
.log .mood5 img { background: var(--moodHappiestColor); }

.log img {
  margin: 10px;
  padding: 2px;
  max-width: 100%;
  max-height: 50px;
  border-radius: 50%;
}

.log p {
  margin: 1rem 0 0 0;
}

#pixelsLogsContainer a {
  text-decoration: none !important;
}

.monthHeader {
  margin: 10px 0;
  border-radius: .5rem;
  border: 2px solid transparent;
}

.monthHeader:hover {
  border: 2px solid var(--bgColorDark);
}

.monthHeader h5 {
  padding: 10px;
  margin: 0;
  color: var(--fontColor);
}

.monthHeader h5:before {
  font-family: 'FontAwesome';
  content: "\f106";
  margin: 8px;
}

.monthHeader .collapsed h5:before {
  font-family: 'FontAwesome';
  content: "\f107";
  margin: 8px;
}

.emotion {
  background: var(--bgColorDark);
  display: inline-block;
  padding: 2px 8px;
  border-radius: 1rem;
  margin: 0 4px 0 0;
}

label {
  color: var(--fontColor) !important;
}

.bmd-switch-track {
  background-image: linear-gradient(90deg,rgba(0,0,0,.26) 0,rgba(0,0,0,.26) 50%,#b7bacb 0,#b7bacb) !important;
}

.switch label input:checked+.bmd-switch-track:after{
  background-color: #d95e87;
}

/*-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: var(--bgColorDark);
}

.footer form {
  margin: 0;
  float: right;
}
