body {
  background: #EEEEEE;
  padding: 1rem 0rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-image {
  margin-bottom: 1rem
}

.card {
  border-radius: .5rem;
}

#pixelsTableContainer {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

#pixelsTableContainer td {
  padding: 0px !important;
  border: 1px solid #EEEEEE !important;
  font-size: 12px !important;
}
@media (min-width: 768px) {
  #pixelsTableContainer td {
    padding: 2px !important;
    font-size: 13px !important;
  }
}
@media (min-width: 992px) {
  #pixelsTableContainer td {
    padding: 5px !important;
    font-size: 14px !important;
  }
}
@media (min-width: 1200px) {
  #pixelsTableContainer td {
    padding: 6px !important;
    font-size: 15px !important;
  }
}

.log {
  padding: 20px 10px;
  border-bottom: 1px solid #DEDEDE;
}

.cell {
  cursor: pointer;
}

.cell.mood1 { background: #7E57C2; }
.cell.mood2 { background: #5c6bc0; }
.cell.mood3 { background: #00BCD4; }
.cell.mood4 { background: #9CCC65; }
.cell.mood5 { background: #4CAF50; }

.log .mood1 img { background: #7E57C2; }
.log .mood2 img { background: #5c6bc0; }
.log .mood3 img { background: #00BCD4; }
.log .mood4 img { background: #9CCC65; }
.log .mood5 img { background: #4CAF50; }

.log img {
  margin: 10px;
  padding: 2px;
  max-width: 100%;
  max-height: 50px;
  border-radius: 50%;
}

.log p {
  margin: 1rem 0 0 0;
}

#pixelsLogsContainer a {
  text-decoration: none !important;
}

.monthHeader {
  margin: 10px 0;
  border-radius: .5rem;
  border: 2px solid transparent;
}

.monthHeader:hover {
  border: 2px solid #DEDEDE;
}

.monthHeader h5 {
  padding: 10px;
  margin: 0;
  color: #000000;
}

.monthHeader h5:before {
  font-family: 'FontAwesome';
  content: "\f106";
  margin: 8px;
}

.monthHeader .collapsed h5:before {
  font-family: 'FontAwesome';
  content: "\f107";
  margin: 8px;
}

.emotion {
  background: #DEDEDE;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 1rem;
  margin: 0 4px 0 0;
}
